<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <form action="/add-new" method="POST">
    <label for="">prueba inside </label>
    <input type="text" name="prueba">
        <form action="">
            <label for="" name="Location">Location</label><br>

            <label for="">City</label>
            <input type="text" name="city"><br>

            <label for="">Province</label>
            <input type="text"name="province"><br>

            <label for="">Address </label>
            <input type="text" name="address"><br>
             
     </form>
   <input type="submit">
    </form>

</body>
</html>