<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node</title>

    <%- include ("partials/head.ejs") %>
</head>
<body>
<div class="container">
    <div class="card text-center mt-5">
        <div class="card-body">
            <h1> <span class="fa fa-lock"></span> Login or Register</h1>
            <a href="/login" class="btn btn-light"> <span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-light"> <span class="fa fa-user"></span> Local Sign Up</a>

        </div>
    </div>

</div>
</body>
</html>