<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <%- include ("partials/head.ejs") %>

</head>
<body>
    <div class="container">
        <header class="text-center">
            <h1>Profile Page</h1>
            <a href="/logout" class="btn btn-light btn-sm">logout</a>

        </header>
        <hr>

        <div class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3><span class="fa fa-user"></span>Local</h3>
                        <p>
                            <strong>id</strong>: <%= user._id %> <br>
                            <strong>email</strong>: <%= user.local.email %> <br>
                            <strong>password</strong>: <%= user.local.password %> 
                        </p>
                        <a href="/logout" class="btn btn-light">Logout</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
</body>
</html>